<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /voomio-front-end-jeni/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /voomio-front-end-jeni/index.html [L]
</IfModule>
