@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

@import "bootstrap/scss/grid";

.voomio-5-col {

    @include media-breakpoint-up(xs)
    {
        @include row-cols(1);
    }

    @include media-breakpoint-up(sm)
    {
        @include row-cols(2);
    }

    @include media-breakpoint-up(md)
    {
        @include row-cols(3);
    }

    @include media-breakpoint-up(xl)
    {
        @include row-cols(5);
    }
}
.nft-setting{


    @include media-breakpoint-up(xs)
    {
        margin-top: 2rem;
    }
    @include media-breakpoint-up(md)
    {
        margin-top: 10rem;
    }
}

.MuiTabs-flexContainer button {
    margin-left: 1rem;
    margin-right: 1rem;
    border: none !important;
}

.nftgenerator-container {
    margin: auto;

    @include media-breakpoint-up(xs)
    {
        width: 100%;
    }

    @include media-breakpoint-up(xl)
    {
       width: 95%
    }
}

.nftgenerator-tabs .MuiTabs-scroller .MuiTabs-flexContainer{

    justify-content:center;
    display: block !important;

    @include media-breakpoint-up(md)
    {
        display: flex !important;

    }
}

.nftgenerator-tabs{


    @include media-breakpoint-up(sm)
    {
        margin-top: 0px;
    }
    @include media-breakpoint-up(md)
    {
        margin-top: -5rem !important;
    }
}

.collection-upload-field{
    max-width: 600px;
    margin: auto;
    border: 5px dashed #F4EEFF;
    border-radius: 48px;
    height: 70vh;
}
.upload-info{
  text-align: center;
  max-width: 300px;
  margin: auto;
}
.upload-drop-zone{
    width: 100%;
    height: 100%;
    display: flex;
}
.MuiButtonBase-root{
    text-transform: none !important;
}

.tokencard-content{
    padding: 5px !important;
}

.token-gallery-view{
    max-width: 900px;
}
.attribute-info p{
    font-size: 15px !important;
    line-height: 15px !important;
}
.rule-btn{
    font-size: 1.5rem;
    margin-top: -2rem;
}
.rule-btn .sc-button {
    padding: 11px;
}
.rule-outlined .sc-button{
    background: white !important;
    color: #6549F6 !important;
}
.manage-filter-group{
    margin-top: 5rem;
    width: 70vw;
}
.manage-filter{
    max-width: 700px;
    margin: auto;
}
.virtual-tab{
    cursor: pointer;
}

.collection-container{
    max-width: 800px;
}

.collection-form div label{
    padding-left: 1rem !important;
}

.collection-logo{
    width: 121px;
    height: 121px;
    border-radius: 50%;
    background: #F4EEFF;
    display: flex;
}
.collection-inner{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:dashed 3px #7B61FF;
    margin:auto;
}

.collection-upload-btn{
    background: #F4EEFF;
    color: #7B61FF;
    padding: 1rem 4rem;
}

.collection-upload-group{
    margin-top: auto;
}

.shuffle-button{
    font-size: 15px !important;
}
.shuffle-button:focus{
    border:none;
    color: white;
}
.shuffle-button:hover{
    border:none;
    color: white;
}
.attribute-item{
    color: #7B61FF;
    border: solid 2px #7B61FF;
    border-radius: 5px;    
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    margin-bottom: 0.5rem;
}
.level-icon{
    max-width: 60px;
}
.level-card{
    border: solid 2px #7B61FF;
    border-radius: 10px;
}
.point-system-check span{
    font-size: 16px;
}
.point-tag{
    text-align: center;
    color:#6549F6;
    font-weight: 600;
    background: #F4EEFF;
    width: 80px;
    padding: 4px 0px;
    border-radius: 10px;
}
.fw-500{
    font-weight: 500;
}